@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: g;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: 'Jost', sans-serif;
}

/* Cabeçalho */
header {
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
    width: 98.5%;
    margin: 0 0.5%;
    padding: 15px 5px;
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    height: 90px;
    margin-bottom: 8px;
}

.titulo{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
    font-variant: small-caps;
    text-shadow: 3px 3px 2px black;
}

/* Menu */
nav {
    width: 98%;
    position: sticky;
    top: 0;
    text-align: center;
    margin-left: 0.9%;
    margin-right: 0.9%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

.item-menu{
    display: inline-block;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 3px black;
    line-height: 2;
    margin-left: 12%;
    margin-right: 12%;
}

.item-menu a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    text-align: center;
    font-size: x-large;
}

.item-menu a:hover{
    font-size: 28px;
    transition: 0.6s;
    color: black;
    text-shadow: 3px 3px 2px #F3D8F6;
}

/* Corpo do site */
main{
    width: 94%;
    margin: 10px 1.2%;
    border: solid 1px black;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    padding: 10px 25px;
}

section{
    border-radius: 5px;
    background-color:rgb(0, 0, 0);
    padding: 10px 15px;
    margin: 15px 21% 15px 0;
}

